@import '../../vars.scss';

.header {
  background: #1C1A19;
  display: flex;
  justify-content: space-between;
  padding: 20px 45px;

  @include tablets {
    justify-content: flex-end;
  }

  &__logo {
    position: relative;

    @include tablets {
      display: none;
    }

    img {
      width: 100%;
    }
  }
  
  &__navlist {
    display: flex;
    align-items: center;

    @include tablets {
      display: none;
    }
  }

  &__navitem {
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    cursor: pointer;
    transition: .3s;
    position: relative;
    color: #FFFFFF;
    margin-right: 44px;

    &:last-child {
      margin-right: 0;
    }

    &[data-active='true'] {
      color: #FDBF5A;
      pointer-events: none;
    }
  }

  .hamburger-icon {
    display: none;

    @include tablets {
      display: block;
    }
  }
}

.hamburger-icon.close {
  top: 3%;
  position: absolute;
  right: 6%;
}

.header-list {
  background: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .header__navlist {
    display: flex;
    flex-direction: column;
  }

  .header__navitem {
    margin-right: 0;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}