.header {
  background: #1C1A19;
  display: flex;
  justify-content: space-between;
  padding: 20px 45px;

  &__logo {
    position: relative;

    img {
      width: 100%;
    }
  }
  
  &__navlist {
    display: flex;
    align-items: center;
  }

  &__navitem {
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    cursor: pointer;
    transition: .3s;
    position: relative;
    color: #FFFFFF;
    margin-right: 44px;

    &:last-child {
      margin-right: 0;
    }

    &[data-active='true'] {
      color: #FDBF5A;
      pointer-events: none;
    }
  }
}